# Reccomender Implementation

In [1]:
import pandas as pd
import pymongo
import pprint
import datetime
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

## Fetching the data points from the database

In [27]:
conn_str = "mongodb+srv://peerhubworks:peerhub@cluster0.hydha.mongodb.net/dev?retryWrites=true&w=majority"
pymongo.database
client = pymongo.MongoClient(conn_str, serverSelectionTimeoutMS=5000)
db = client.dev
postsDb = db.posts
communitiesDb = db.communities
usersDb = db.users
postCursor = pd.DataFrame(data=postsDb.find({}))
userCursor = pd.DataFrame(data=usersDb.find({}))
communityCursor = pd.DataFrame(data=communitiesDb.find({}))

In [55]:
postCursor

,_id,title,content,upvotes,tags,community,user,comments,created_at,upvoted_by,__v
0,6141bd63120a54c7f0d1c9e5,This is some random thing i came up with,Yes. I did see it. wow. Good for me ig?,0,"[sports, cricket, game, bat ball, football]",613dc19aec9ac2821ff3c381,613dc1d1ec9ac2821ff3c385,[6141bd70120a54c7f0d1c9f1],2021-09-15 09:31:15.128,[],1
1,614c2458aa8cb7ae73e736df,Does this work?,Maybe?Not?,1,[],613dc19aec9ac2821ff3c381,613dc12aec9ac2821ff3c378,[],2021-09-23 06:53:12.704,"[{'user': 613dc12aec9ac2821ff3c378, 'up': 1, '...",1

# Creating the Data Frame

In [56]:
postFeatures = ['_id', 'title','tags', 'community']
userFeatures = ['_id', 'posts', 'communities']
postDf = postCursor.drop([i for i in postCursor if i not in postFeatures], axis=1)

tags = {}
for i in range(len(postDf)):
    for comm in postDf.community:
        tags.update({comm:[]})
    for taglst in postDf.tags:
        for tag in taglst:
            tags[comm].append(tag)

updated_data = []
for i in tags:
    tempDf = postDf[postDf['community']==i]
    id = tempDf['_id'].values[0]
    title = tempDf['title'].values[0]
    community = tempDf['community'].values[0]
    for tag in tags[i]:
        tagDict = {}
        tagDict.update({'post_id':id})
        tagDict.update({'title':title})
        tagDict.update({'tag':tag})
        tagDict.update({'community':community})
        updated_data.append(tagDict)

postUpdated = pd.DataFrame(updated_data)

In [57]:
postUpdated

,post_id,title,tag,community
0,6141bd63120a54c7f0d1c9e5,This is some random thing i came up with,sports,613dc19aec9ac2821ff3c381
1,6141bd63120a54c7f0d1c9e5,This is some random thing i came up with,cricket,613dc19aec9ac2821ff3c381
2,6141bd63120a54c7f0d1c9e5,This is some random thing i came up with,game,613dc19aec9ac2821ff3c381
3,6141bd63120a54c7f0d1c9e5,This is some random thing i came up with,bat ball,613dc19aec9ac2821ff3c381
4,6141bd63120a54c7f0d1c9e5,This is some random thing i came up with,football,613dc19aec9ac2821ff3c381

In [50]:
postUpdated.describe()

,post_id,title,tag,community
count,5,5,5,5
unique,1,1,5,1
top,6141bd63120a54c7f0d1c9e5,This is some random thing i came up with,sports,613dc19aec9ac2821ff3c381
freq,5,5,1,5

In [36]:
userCursor.columns

Index(['_id', 'username', 'email', 'passwordHash', 'posts', 'communities',
       'comments', '__v'],
      dtype='object')